<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Home Page</title>
  <link rel="stylesheet" href="../css/style.css">
<body>
  <h1>The Home Page</h1>
  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Perferendis velit tenetur expedita numquam vitae sit vel odio soluta, corrupti dolorum quos est nisi placeat magni eaque. Dolore eos illum repudiandae.</p>
  <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Placeat hic esse odio asperiores debitis aspernatur saepe aut inventore quas nobis beatae illo ad eveniet, cumque modi dolores officia fugiat recusandae!</p>
  <p>Lorem ipsum dolor sit amet.</p>
  <a href="/blogs">See Blogs</a>
</body>
</html>